input{
    padding: 5px;
}
select{
    margin-left: 4px;
    margin-top: 10px;
    padding: 5px;
}
level{
    display: inline-block;
    width: 100px;
    font-size: 14px;
}
#container{
    width: 600px;
    margin: 10px auto;
}
ul{
    list-style: none;
}
#uid{
    margin-left: 10px;
}
#uemail{
    margin-left: 10px;
    margin-top: 10px;
}
#pwd1{
    margin-left: 10px;
    margin-top: 10px;
}
#pwd2{
    margin-left: 10px;
    margin-top: 10px;
}
textarea{
    margin-left: 10px;
    margin-top: 10px;
}
#event{
    margin-top: 20px;
}
.sbtn{
    width: 150px; height: 50px;
    font-size: 20px;
    font-weight: 600;
    margin: 5px 10px auto;
}